.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--default-bg-color);
    border-bottom: solid 1px var(--gray-300);
}
