@import '@/app/ui/variables';

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    > img {
        width: 4rem;
        height: 4rem;
    }

    > span {
        font-size: 1.75rem;
        font-weight: 600;;

        &.defColor {
            color: $main-text-color !important;
        }

        &.invColor {
            color: $main-text-color-inv !important;
        }
    }
}
