@import '@/app/ui/variables';

.tag {
  background-color: $gray-100;
  

  &.color {
    &-set-a {
      background-color: $main-tint-100;
    }

    &-set-b {
      background-color: $main-tint-200;
    }

    &-set-c {
      background-color: $main-tint-300;
    }
  }
}

