@import '@/app/ui/variables';

.container {
  width: 100%;

  .headingContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1.2rem;
    border-bottom: solid 1px $gray-300;

    .header {
      .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: max-content;
      }

      .subHeading {
        width: max-content;

        > p {
          color: $gray-500;
        }
      }
    }

    .tags {
      align-self: baseline;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
