.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--main-color);
    border-radius: 12rem;
    background: none;
    padding: 1rem 2.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    min-height: 4rem;

    svg {
        width: 2rem;
        height: 2rem;
    }

    &.outline {
        color: var(--main-color);
    }

    &.fill {
        background-color: var(--main-color);
        color: #fff;
    }
  }
