@import '@/app/ui/variables';

* {
  @include reset;
}

html {
  font-size: $base-font-size;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $main-text-color;
  cursor: default;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
