@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin mq($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

$breakpoints:(
  mobile: 320px,
  mobile-large: 576px,
  tablet: 768px,
  laptop: 992px,
  desktop: 1280px,
  desktop-large: 1440px,
);
  $max-width: 1100px;
  $border-radius: 12px;
  $font-mono: ui-monospace, menlo, monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  $base-font-size: 62.5%;
  $main-tint-100: #c9bffa;
  $main-tint-200: #af9ef7;
  $main-tint-300: #947ef5;
  $main-color: #795EF2;
  $main-shade-100: #614bc2;
  $main-shade-200: #493891;
  $main-shade-300: #302661;
  $default-bg-color: #fff;
  $gray-100: #f7fafc;
  $gray-200: #edf2f7;
  $gray-300: #e2e8f0;
  $gray-400: #a0aec0;
  $gray-500: #718096;
  $gray-600: #4a5568;
  $gray-700: #2d3748;
  $main-text-color: #000;
  $main-text-color-inv: #fff;


@media (prefers-color-scheme: dark) {
    $main-text-color: #fff;
    $main-text-color-inv: #000;
    $default-bg-color: #1C1B21;
    $gray-100: #2d3748;
    $gray-200: #4a5568;
    $gray-300: #718096;
    $gray-400: #a0aec0;
    $gray-500: #e2e8f0;
    $gray-600: #edf2f7;
    $gray-700: #f7fafc;
}

@media (prefers-color-scheme: dark) {
  #html {
    color-scheme: dark;
  }
}
