.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;

  .btnContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      height: 4.4rem;
      width: 16rem;

      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
